.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;

  .ant-card {
    height: 100%;
  }
  .ant-card-cover {
    height: 270px;
    object-fit: contain;
    // height: 100%;

    img {
      height: inherit;
    }
  }

  .ant-card-body {
    height: calc(100% - 320px);
  }

  .ant-card-actions {
    padding: 0 30px;

    a{
      background-color: #40a9ff;
    color: white !important;
    padding: 7px;
    border-radius: 4px;
    }

    .ant-btn {
      border-radius: 5px;

      a{
        color: white;
      }
    }
    
    .ant-btn-primary:active {
      background-color:#40a9ff;
      color: white;
    }
  }

  .ant-card-meta-title {
    white-space: break-spaces;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: #f4f4f4;
    color: white;
    transform: rotateY(180deg);

    .go-back-container {
      font-size: 30px;
      padding: 5px;
      position: fixed;
      right: 17px;
      top: 15px;
      border-radius: 30%;
      border: 3px solid;
      cursor: pointer;
    }
  }

  .flip-card-front,
  .flip-card-back {
    // position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @media screen and (max-width: 899px) {
    .ant-card-meta-description {
      color: rgba(0, 0, 0, 0.45);
      line-height: 1;
      font-size: 12px;
      text-align: justify;
    }

    .flip-card {
      height: 400px;
    }

    // .flip-card-back {
    //   .go-back-container {
    //     font-size: 14px;
    //     border: 2px solid;
    //     padding: 0px;
    //     position: fixed;
    //     right: 8px;
    //     top: 4px;
    //     color: rgb(214, 157, 157);
    //     border-radius: 30%;
    //   }

    //   .detail-container {
    //     padding-top: 24px;
    //     h1 {
    //       font-size: 19px;
    //       color: darkblue;
    //       border-bottom: 1px solid;
    //     }

    //     .description {
    //       font-size: 14px;
    //       color: rgba(0, 0, 0, 0.57);
    //       border-bottom: none;
    //     }
    //   }
    // }
  }
}
