.nav-bar-container {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 0;
  justify-content: space-between;
  height: 70px;

  .nav-bar--section-left {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
    }

    .logo-container {
      width: 126px;
      height: 60px;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        padding-left: 5px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .nav-bar--section-right {
      display: flex;
      align-items: center;
      z-index: 33;

      .nav-bar--item {
        padding: 0 10px;
        font-size: 24px;
        border-radius: 3px;
        margin: 5px;
        a {
          color: rgba(0,0,0,0.57);
          font-family: serif;
        }

        &:hover {
          color: #afd4f8;
          background: #ccc;
        }
      }
    }

    .menu {
      display: none;
    }
  }

  @media screen and (max-width: 899px) {

    .menu{
      background-color: rgba(0,0,0,0.67);
      border: 2px solid #FFFFFE;
      border-radius: 100%;
      box-shadow: 0 1px 2px #000000;
      color: #ffffff;
      font-size: 21px;
      padding: 4px 7px;
    }
    .nav-bar--section-right {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: fixed;
      top: 70px;
      background: #eee;
      width: 0;
      opacity: 0;
      transition: width 0.5s, opacity 0.5s;
      z-index: 33;

      .nav-bar--item {
        width: 100%;
        border-bottom: 1px dashed #ddd;
        padding: 0 10px;
        font-size: 24px;
        border-radius: 3px;
        display: flex;
        align-items: center;

        a {
          color: rgba(0,0,0,0.57);
          font-family: serif;
        }


        &:hover {
          color: #afd4f8;
          background: #ccc;
        }
      }
    }
  }
}
