.service-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  a {
    background-color: #f0cd2f;
    color: white !important;
    padding: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .details-text{
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;

      .ant-typography{
          text-align: justify;
      }
  }

  .image-container {
    height: calc(60vh);
    width: 100%;

    img {
      width: 100%;
      max-height: 100%;
    }
  }

  @media screen and (max-width: 899px) {
    .image-container {
      height: calc(40vh);
    }
  }
}
