.App {
  text-align: center;
}

.ant-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ant-back-top {
  span {
    font-size: 25px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.main-heading {
  margin: 13px 0;
  .ant-typography {
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.67);
    line-height: 1;
    // overflow: hidden; /* Ensures the content is not revealed until the animation */
    // white-space: nowrap; /* Keeps the content on a single line */
    // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    // // letter-spacing: 0.15em; /* Adjust as needed */
    // animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  // @keyframes typing {
  //   from {
  //     width: 0;
  //   }
  //   to {
  //     width: 100%;
  //   }
  // }

  // @keyframes blink-caret {
  //   from,
  //   to {
  //     border-color: transparent;
  //   }
  //   50% {
  //     border-color: orange;
  //   }
  // }
}

.main-heading::after {
  border-bottom: 1px solid #ccc;
  color: rgb(240,205,47);
  content: "*****";
  display: flex;
  font-family: fontawesome;
  font-size: 27px;
  height: 0;
  line-height: 0.3;
  margin: 18px auto 5px;
  padding: 0;
  width: 60%;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .main-heading {
    margin-bottom: 30px;
    .ant-typography {
      font-size: 30px;
    }
  }

  .main-heading::after {
    width: 30%;
    margin: 30px auto 5px;
  }
}




.loadingContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  div{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    float: left;
    margin: 0 3px;
    background: #6859a3;
  }



  .ball1 {
    z-index: 1;
    -moz-animation: bounce 3s infinite ease-in-out;
    -webkit-animation: bounce 3s infinite ease-in-out;
  }
  .ball2 {
    -moz-animation: bounce 3s infinite ease-in-out;
    -webkit-animation: bounce 3s infinite ease-in-out;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .ball3 {
    -moz-animation: bounce 3s infinite ease-in-out;
    -webkit-animation: bounce 3s infinite ease-in-out;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .ball4 {
    -moz-animation: bounce 3s infinite ease-in-out;
    -webkit-animation: bounce 3s infinite ease-in-out;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  @keyframes bounce {
    0%,
    15% {
      -moz-transform: translate(0, 0);
    }
    50% {
      -moz-transform: translate(0, -30px);
      background: #72c2c2;
    }
    85%,
    100% {
      -moz-transform: translate(0, 0);
    }
  }
  
  @-webkit-keyframes bounce {
    0%,
    20% {
      -webkit-transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(0, -30px);
      background: #72c2c2;
    }
    80%,
    100% {
      -webkit-transform: translate(0, 0);
    }
  }

}



.details-text {
  margin-bottom: 20px;

  .ant-typography {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 899px) {
 

  .details-text {
    margin-top: 15px;

    .ant-typography {
      font-size: 16px;
    }
  }
}


